<h1>Trivago</h1>
<%= data.length %>
<%= data[0].roomtypes[1].name %>
<%= data[0].roomtypes.length %>
<%= data[1].entries[0].hotelName %>
<%= data[1].entries[1].hotelName %>
<%= data[1].entries[2].hotelName %>
<%= data[1].entries[3].hotelName %>